html *
{
box-sizing: border-box;
margin:0px;
margin-left: 20px;
padding: 0;
max-width: 1480px;
}
.header
{
box-sizing: border-box;
margin:0px;
border: 0px;
padding:0px;
opacity: 1;
/*background-image: url("img/lamp.jpeg");*/
}

#titulo
{
  border: 0px solid #FFE4B5;
  padding: 0px;
  text-align: center;
  font-size: 100px;
  color: #424242;
  background-color: white;
  background-position:center;
  height: 130px;
}

.gridmain
{
border: 15px solid #FFE4B5;
padding: 10px;
background-color:white;
display: grid;
grid-template-columns:150px 800px 400px; /*10vw 60vw 30vw;*/
grid-template-rows:500px;
grid-gap: 20px;
}

.imagemmontagem
{
margin: 20px;
background-image: url("img/montagem.jpeg");
background-repeat: no-repeat;
background-size:cover;
background-position: top;
display: grid;
grid-gap: 10px;
}
.card {
  background-color: white;
  border-radius: 8px;
  padding: 26px;
  text-align:justify;

}



.imagemselo
{
  background-image: url("img/Selos.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:contain;
  display:grid;
  grid-gap: 0px;
  max-width: 100%;
}

.imagemsala
{
background-image: url("img/hevimg1.jpeg");
background-repeat: no-repeat;
}
.imagemescola
{
background-image: url("img/EEEMVRB.png");
background-repeat:no-repeat;
background-size: cover;
}
.imagemequipe
{
background-image: url("img/equipevisconbotic.jpeg");
background-repeat: no-repeat;
background-size: cover;
}


nav a
{
color: #424242;
font-size: 12px;
letter-spacing: 1px;
text-decoration: none;
text-transform:uppercase;
/*padding: 10px 10px;*/
}
p
{
  text-indent: 100px;
}
a
{
color: #363636;
text-decoration: none;
text-transform: none;
text-align: center;
}
.h2
{
font-size: 20px;
margin: 20px;
text-align: justify;
justify-content: flex-start;
color: #363636;
letter-spacing: 1px;
display: grid;
grid-gap: 20px

}

/*main
{ grid-column: 1 / 3;}*/

/*header
{ grid-column: 1 / 3;}*/

.btn
{
text-decoration:none;
background-color: #424242;
color: white;
padding: 10px 32px;
display: flex;
justify-content: center;
background-position: center;
align-items:center;
border-radius: 12px;
box-shadow: 2px 2px 4px #424242;
float: center;
opacity: 0.8;
transition: 0.7s;
margin: 10px;
margin-bottom: 40px;
text-align:center;
text
}
.btn:hover
{
background-color: red;
}

.btn2
{
font-size: 30px;
text-decoration:none;
background-color:Blue;
color: white;
padding: 50px 230px;
display: flex;
background-position: center;
background-image: url("img/selos.jpeg");
align-items:center;
justify-content: center;
border-radius: 80px;
box-shadow: 60px 30px 10px #424242;
float: center;
opacity: 0.8;
transition: 0.2s;
margin: 30px;
margin-bottom: 60px;
text-align:center;
text
}
.btn2:hover
{
background-color: black;
}
footer
{
margin:0px;
border: 0 solid #FFE4B5;
padding: 0px;
align-items: flex-start;
height: 100px;
}
